# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.svelte-kit/
build/
dist/

# Environment variables
.env
.env.*
!.env.example

# Bun
bun.lockb

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
